body {
    background-color: lightblue;
    text-align: center;
}

#temp-display{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
}

#current-city{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#temp{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

#down{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#up{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

#actual{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

input{
    background-color: black;
    color: white;
}